<section class="why-choose-us">
  <div class="why-choose-us__block-container">
      <div class="image-container">
        <img class="why-choose-us__img-work-process" src="img/why-choose-us/work-process.jpg" alt="Work process">
      </div>
      <div class="why-choose-us__content">
          <div class="why-choose-us__header">
            <h2 class="why-choose-us__title">WHY CHOOSE US</h2>
            <p class="why-choose-us__subtitle">OUR BENEFITS</p>
            <p class="why-choose-us__description">Work with a well-established and reliable HR company.</p>
            <p class="why-choose-us__text">Our main goal is to free your time so that you can focus on business development. Our benefits are as follows:</p>
          </div>
              <div class="why-choose-us__components components">
                      <article class="components__item">
                          <div class="icon-container">
                             <img class="components__item_icon" src="img/why-choose-us/clock-icon.svg" alt="Clock icon">
                          </div>
                          <div class="components__item_content">
                              <h3 class="components__item-title">URGENT HIRE</h3>
                              <p class="components__item-text">Time is money for any business. The average time for hiring a candidate, from submitting a resume to signing a contract, is 10 days.</p>
                          </div>
                      </article>
                      <article class="components__item">
                          <div class="icon-container">
                            <img class="components__item_icon" src="img/why-choose-us/idea-icon.svg" alt="Idea icon">
                          </div>
                          <div class="components__item_content">
                              <h3 class="components__item-title">OWN DATABASE OF CANDIDATES</h3>
                              <p class="components__item-text">LinkedIn, Facebook, and Indeed are not enough. We have our own sources to fill the database of candidates.</p>
                          </div>
                      </article>
                      <article class="components__item">
                          <div class="icon-container">
                            <img class="components__item_icon" src="img/why-choose-us/startup-icon.svg" alt="Startup icon">
                          </div>
                          <div class="components__item_content">
                              <h3 class="components__item-title">BOOSTING EMPLOYEE SATISFACTION</h3>
                              <p class="components__item-text">One of our main goals is to ensure that your employees are satisfied with their working conditions and do not quit.</p>  
                          </div>
                      </article>
                      <article class="components__item">
                          <div class="icon-container">
                            <img class="components__item_icon" src="img/why-choose-us/salar-icon.svg" alt="Salary icon">
                          </div>
                          <div class="components__item_content">
                              <h3 class="components__item-title">STAFF DEVELOPMENT</h3>
                              <p class="components__item-text">Our HR managers draw up an individual development plan for each employee and improve the corporate culture.</p>  
                          </div>
                      </article>
                </div>
          </div>
      </div>
  <div class="hr__block-container">
      <div class="hr__components">
          <h2 class="hr__title">SPENDING TOO MUCH TIME ON HR-RELATED TASKS?</h2>
          <p class="hr__text">Better focus on your business and leave all the tasks related to recruitment and personnel management to us. We will find and manage the right people.</p>
      </div>
      <div class="hr__contact-button">
              <a class="hr__button" href="partials/contacts.partial.html">Let's Talk Right now</a>
       </div>
  </div>
</section>
  