<section class="why-choose-us">
    <h2 class="why-choose-us__title">WHY CHOOSE US</h2>
    <p class="why-choose-us__subtitle">OUR BENEFITS</p>
    <p class="why-choose-us__text">Work with a well-established and reliable HR company.</p>
    <div>
        <ul style="list-style-type: none;">
            <li>
                <article>
                    <img width="50" src="img/clock-icon.svg" alt="Clock icon">
                    <h3>URGENT HIRE</h3>
                    <p>Time is money for any business. The average time for hiring a candidate, from submitting a resume
                        to signing a contract, is 10 days.</p>
                </article>
            </li>
            <li>
                <article>
                    <img width="50" src="img/idea-icon.svg" alt="Idea icon">
                    <h3>OWN DATABASE OF CANDIDATES</h3>
                    <p>LinkedIn, Facebook, and Indeed are not enough. We have our own sources to fill the database of candidates.</p>
                </article>
            </li>
            <li>
                <article>
                    <img width="50" src="img/startup-icon.svg" alt="Startup icon">
                    <h3>BOOSTING EMPLOYEE SATISFACTION</h3>
                    <p>One of our main goals is to ensure that your employees are satisfied with their working conditions and do not quit.</p>
                </article>
            </li>
            <li>
                <article>
                    <img width="50" src="img/salar-icon.svg" alt="Salar icon">
                    <h3>STAFF DEVELOPMENT</h3>
                    <p>Our HR managers draw up an individual development plan for each employee and improve the corporate culture.</p>
                </article>
            </li>
        </ul>
    </div>
</section>